[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "*"
django-configurations = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
crispy-bootstrap5 = "*"
django-registration = "*"

[dev-packages]
djlint = "*"

[requires]
python_version = "3.9"
